$primary_orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light_grey: hsl(217, 12%, 63%);
$medium_grey: hsl(216, 12%, 54%);
$dark_blue: #252d37;
$very_dark_blue: #121417;
$back: #141519;

$font_size: 15px;
